@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  margin: auto;
  max-width: 600px;
}

.todoBlock {
  padding: 30px;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  box-shadow: -9px 17px 13px rgb(0 0 0 / 16%);
}

.btnStyle {
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}

.todo-style {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  text-decoration: none;
}

.completed-todo-style {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  text-decoration: line-through;
  color: #ccc;
}

.input-form {
  display: flex;
}

.input-form > input {
  flex: 10;
  padding: 5px;
}
